<div id='<%= dom_id appointment_type %>'>
  <%=
    link_to new_appointment_path(appointment_type: appointment_type.id, local_id: local_id),
              class: 'p-6 border shadow-xl rounded-xl block hover:shadow-lg
                      transition ease-in duration-300 relative overflow-hidden' do
  %>

    <h3 class='font-medium text-2xl'><%= appointment_type.name %></h3>
    <p class='text-gray-500'>View appointment page</p>

    <% if appointment_type.payment_required? %>
      <div class='mt-3 pt-3 border-t'>
        <p>
          <strong>Payment required</strong>
        </p>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(appointment_type.price) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>