<div id='<%= dom_id local %>'>
  <p class='my-5'>
    <strong class='block font-medium mb-1'>City:</strong>
    <%= local.city_id %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>Address:</strong>
    <%= local.address %>
  </p>

</div>
