<div class='p-8 mx-20'>
  <% content_for :title, 'Locals' %>

  <div class='flex justify-between items-center'>
    <h1 class='font-bold text-4xl'>Locals</h1>
    <%= link_to 'New local', new_local_path,
      class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium' %>
  </div>

  <div id='locals' class='grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-8 m-20'>
    <% @locals.each do |local| %>
      <%= render local %>
    <% end %>
  </div>
</div>
