<div class='mx-auto md:w-2/3 w-full'>
  <h1 class='font-bold text-4xl'><%= t('appointment_types.new_appointment_type') %></h1>

  <%= render 'form', appointment_type: @appointment_type %>

  <%=
    link_to t('appointment_types.link_to_back'), appointment_types_path,
      class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
  %>
</div>
