<%= form_with(url: password_resets_path) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div>
    <%=
      form.submit t('authentication.password_resets.views.button_reset_password')
    %>
  </div>
<% end %>
