<div id='<%= dom_id payment %>'>
  <p class='my-5'>
    <strong class='block font-medium mb-1'>Billing status:</strong>
    <%= payment.billing_status %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>User:</strong>
    <%= payment.user_id %>
  </p>

  <p class='my-5'>
    <strong class='block font-medium mb-1'>Appointment:</strong>
    <%= payment.appointment_id %>
  </p>
</div>
