<div class='p-8 mx-auto'>
  <% content_for :title, 'Appointments' %>

  <div class='flex justify-between items-center'>
    <h1 class='font-bold text-4xl'>Appointments</h1>
    <%=
      link_to 'New appointment', new_appointment_path,
        class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium'
    %>
  </div>

  <section id='appointments' class='m-20'>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-8">
      <%= render partial: "appointments/appointment", collection: @appointments %>
    </div>
  </section>
</div>
