<div class='w-full'>
  <% content_for :title, 'Appointments' %>

  <div class='flex justify-between items-center'>
    <h1 class='font-bold text-4xl'>Appointments</h1>
    <%=
      link_to 'New appointment', new_appointment_path,
        class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium'
    %>
  </div>

  <div id='appointments' class='min-w-full'>
    <% @appointments.each do |appointment| %>
      <%= render appointment %>
      <p>
        <%=
          link_to 'Show this appointment', appointment,
            class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
        %>
      </p>
    <% end %>
  </div>
</div>
